body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;

}
img.login__img {
    margin-right: 5px;
}
img {
    width: 15px;
}
.all__product {
    margin: 10px;
}
h5.card-title {
    font-size: 14px;
    padding-top: 10px;
}
p.card-text {
    padding-bottom: 10px;
}
button{
    border-radius: 3px;
}

.card {
    margin: 0;
    padding: 0;
    margin-bottom: 5px;

}
.btn__full_width button{
    width: 100%;
}
section.section__billing {
    padding: 10px 0px 0px;
    background: #e9ecef;
    position: relative;
    height: 100VH;
}
.item__right {
    background-color: #fff;
    padding: 10px 10px;
}
.row__margin {
    padding: 0px 0px 10px;
}
.transition__btn{
    display: inline-block;
    line-height: 1;
    background-color: #f4511e;
    padding: 0px 26px;
    color: #fff;
    fill: #fff;
    text-align: center;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 3px;
}
button.btn-search {
    border: none;
}

button.btn-search:hover {
    background-color: #de4c1e;
}
button.add {
    background: #66d203;
    border: none;
    margin-left: 10px;
    color: #fff;
    border: 2px solid #66d203;
}
button.minus {
    border: none;
    margin-right: 10px;
    background: #0dcaf0;
    color: #fff;
    border: 2px solid #0dcaf0;
}
button.cancel {
    background: #dc3545;
    border: none;
    color: #fff;
    border: 2px solid #dc3545;
    width: 34px;
}


select.form-select {
    font-size: 14px;
    color: #676767;
}

.d-flex--part {
    border: 1px solid #e9ecef;
    border-bottom: 5px solid #e9ecef;
    margin-bottom: 2px;
}
.total__chanrge {
    background: #e9ecef;
    text-align: center;
    padding: 10px;
    border-bottom: 5px solid #dc3545;
}

.total__chanrge h1 {
    font-size: 33px;
    color: #f4511e;
    margin-bottom: 0;
}

.table-part{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.table-part tbody{
  display:block;
  width: 100%;
  overflow: auto;
  height: 215px;
  font-size: 14px;
}

.table-part thead tr {
   display: block;
}


.table-part th, .table-part td {
  text-align: left;
  width: 200px;
}


.table-part>tbody {
    border: 1px solid #e9ecef;
}
td {
    color: #676767;
    font-family: "Roboto", sans-serif;
    font-size: 0.875rem;
}
th{
    font-family: "Roboto", sans-serif;
    font-size: 0.875rem;
    line-height: 1.50rem;

}
thead {
    font-size: 14px;
    color: #fff;
    background: #3F51B5;
}
th.head {
    width: 80px;
}
td.price {
    padding-left: 25px;
}
td.math__add__minus {
    padding-left: 25px;
}
td.total__price {
    padding-left: 15px;
}
td.btn__cancel {
    padding-left: 10px;
}

section.footer__part {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #3F51B5;
}
.pagination__right {
    position: absolute;
    width: 100%;
    right: 20px;
    bottom: 60px;
}
.top-part {
    background: white;
    margin-bottom: 10px;
}
.login__part {
    background: #66d203;
    color: #fff;
}
img.card-img-top {
    width: 100%;
    height: 100%;
    transition: transform .5s;
}
.item__items{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e9ecef;
    border-radius: .25rem;
}

.item__height{
    height: 100%;
    width: 100%;

    overflow: hidden;
    border-bottom: 3px solid #e9ecef;
}
.item__height:hover{
    border: 1px solid #3f51b5;
}

.item__hover:hover img {
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3);
}
.image__inner{
    overflow: hidden;
    width: 100%;
    height: 85px;
}
.table__list__part{
    background-color: #fff;
    padding: 20px;

}
.add__table__list {
    width: 50%;
}

.company__profile {
    background: white;
    padding: 30px;
}
i.fa-icon {
    font-size: 40px;
    color: #66d203;
}
h5.card-title.title--bill {
    font-size: 16px;
}
.text-bill {
    font-size: 20px;
}
span.form-text {
    display: block;
    font-size: 22px;
    color: #20295b;
}
span.pos__div {
    padding: 0px;
}
